<template>
  <div>
    <active-element
      :topic-title="activeTopic && activeTopic.title"
      :text="activeTopic && activeTopic.fullText"
    >
    </active-element>
    <knowledge-base
      :topics="topics"
      @select-topic="activateTopic"
    ></knowledge-base>
  </div>
</template>

<script>
export default {
  data() {
    return {
      topics: [
        {
          id: "basics",
          title: "The Basics",
          description: "Core Vue basics you have to know",
          fullText:
            "Vue is a great framework and it hase a couple of key  concept",
        },
        {
          id: "components",
          title: "Components",
          description: "Components are a core concept for building Vue UIs",
          fullText:
            "With components, you can split logic and markup int greate component",
        },
      ],
      activeTopic: null,
    };
  },
  methods: {
    activateTopic(topicId) {
      this.activeTopic = this.topics.find((topic) => topic.id === topicId);
    },
  },
};
</script>
